body {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: blanchedalmond;
}

h1 {
  margin-top: 2rem;
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: x-large;
}

span {
  color: rgb(109, 96, 74);
}

section {
  background-color: rgb(238, 222, 198);
}

/* should have been a headding */
.gameInfo {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 3rem;
  text-decoration-line: underline;
  text-underline-offset: 0.5em;
}

.gameSection {
  position: relative;
  border: 0.1rem solid rgb(193, 176, 153);
  box-shadow: 0.1rem 0.1rem grey;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.gameFrame {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

.gameText {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.15rem;
  margin: 0 0 0.5rem 0;
  min-width: 22rem;
  width: auto;
}

.gameButtons {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;
}

.gameButtons button {
  margin-left: auto;
  margin-right: auto;
  min-width: 10rem;
  margin-bottom: 1em;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  text-align: center;
  background-color: #d3d3d5;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9191a7 0 -3px 0 inset;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow transform;
}

.gameButtons button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.gameButtons button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#resetButtons {
  margin: 0 auto;
  border-bottom: none;
}

#resetButtons button {
  margin-bottom: 1em;
}
