body {
  font-family: "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: x-large;
}
span {
  color: rgb(109, 96, 74);
}

section {
  background-color: rgb(238, 222, 198);
}

/* static info about the gamemode */
.gameInfo {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}

.gameSection {
  position: relative;
  border: 0.1rem solid rgb(193, 176, 153);
  box-shadow: 0.1rem 0.1rem grey;
  height: 16rem;
}

.gameFrame {
  position: relative;
  margin: 0% 0% 0% 3rem;
}

.gameText {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.15rem;
  margin: 0 0 0.5rem 0;
}

.gameButtons {
  height: 4.5rem;
  width: 8.5rem;
  margin: 0 0 0.6rem 1rem;
  display: flex;
  flex-direction: column;
}

.gameButtons button {
  margin-bottom: 1px;
  font-family: "JetBrains Mono", monospace;
  cursor: pointer;
  text-align: center;
  background-color: #d3d3d5;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9191a7 0 -3px 0 inset;
  transition: box-shadow 0.15s, transform 0.15s;
  will-change: box-shadow transform;
}

.gameButtons button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.gameButtons button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
